/* Estilos Generales*/
.contenedor::-webkit-scrollbar{
    width: 6px;
    height: 10px;
    background-color: rgb(172, 172, 175);
}

.contenedor::-webkit-scrollbar-thumb{
    background-color: rgb(46, 155, 3);
    border-radius: 5px;
    height: 5px;
}
