/* Estilos Generales*/
.contenedor::-webkit-scrollbar{
    width: 6px;
    height: 10px;
    background-color: rgb(172, 172, 175);
}

.contenedor::-webkit-scrollbar-thumb{
    background-color: rgb(46, 155, 3);
    border-radius: 5px;
    height: 5px;
}

body {
    background-color: #F3F9FF;    
}

.col1 {
    margin-top: 150px;
}

.col2 {
    margin-top: 250px;
}

.form {
    width: 400px;
}

.visible{
    display: none;
}