@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
/* Estilos Generales*/
.contenedor::-webkit-scrollbar{
    width: 6px;
    height: 10px;
    background-color: rgb(172, 172, 175);
}

.contenedor::-webkit-scrollbar-thumb{
    background-color: rgb(46, 155, 3);
    border-radius: 5px;
    height: 5px;
}

.col1 {
    margin-top: 150px;
}

.col2 {
    margin-top: 250px;
}

.form {
    width: 400px;
}

.visible{
    display: none;
}

.mColumnaG{
    min-width: 300px;
}

.mColumnaM{
    min-width: 200px;
}

.mColumnaP{
    min-width: 100px;
}

.maxTabla{
    max-height: 70vh;
}

.font-slogan{
    font-family: 'Caveat', cursive;
}

.font-header-page{
    font-family: 'Solitreo', cursive;
}